.HomeTitle, .AboutTitle, .CalculatorTitle{
    display: flex;
    flex-grow: 100%;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding-top: 200px;
}

.Media{
    &Wrapper{
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px;
    }
    &Title{
        width: 100%;
    }
    &Box{
        padding: 0 30px;
        width: 50%;

        img {
            width: 400px;
            height: 400px;
            object-fit: contain;
        }
    }
}

.Calculator{
    &Box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    &Input{
        width: 400px;
        height: 50px;
        outline: none;
        border: 1px solid #c7c7c7;
        padding-left: 10px;
        font-size: 16px;
    }
    &ButtonCalculate{
        height: 50px;
        color: #fff;
        width: 100px;
        font-weight: 500;
        font-size: 18px;
        background-color: #19b40b;
        border: none;
        cursor: pointer;
    }
    &ButtonReset{
        height: 50px;
        color: #fff;
        width: 100px;
        font-weight: 500;
        font-size: 18px;
        background-color: #a37d01;
        border: none;
        cursor: pointer;
    }
}

.Navigation{
    display: flex;
    width: 100%;

    &List{
        display: flex;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 10px;

    }

    &Item{
        list-style-type: none;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            color: #000;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
            transition-duration: .3s;
        }

        &:hover{
            a {
                transform: scale(1.03);
            }
        }
    }

}